How to address Paul's DISCUSS issue

If we change the terminology in rfc4210bis, the following must be checked for breaking changes first:

- RFC 9483 (Lightweight CMP Profile), RFC 9481 (CMP Algorithms), RFC 9482 (CoAP transfer for CMP), BRSKI-AE and  rfc6712bis (HTTP transfer for CMP), and  BRSKI-AE
- All further references of RFC 4210, see https://datatracker.ietf.org/doc/rfc4210/referencedby/

I checked all references of RFC 4210.
Roughly twice as many documents use 'trusted CA' or 'trust anchor' than 'root CA'.
Two I-D could to adapt its terminology.
RFC 7030 and RFC 9483 would need a erratum to state this change for a potential update.
RFC 8994 anyhow got the reference wrong and needs an erratum.
For details see the attached PDF [References to RFC4210 root CA terminology.pdf](https://github.com/user-attachments/files/18442717/References.to.RFC4210.root.CA.terminology.pdf).

I did potential changes removing the terminology "root CA" in the PR #66 
I just gave it a try and my not be perfect.

@John, @ Mike, @David, what do you think, is it worth bringing this PR to the attention of the ADs or will it course too much discussion.

John and David reviewed PR #66 but both still question the need for this change.
I prepared PR #67 containing the changes for Option 2.

I incorporated change requests from David into #67.
@johngray-dev , @ounsworth do you have any further comment on #67? Shall I go ahead with this change addressing Paul's DISCUSS?

I merged #67 as it is the preferred option to handle Paul's DISCUSS

There is agreement among the authors to submit the version containing #67.